.container {
  margin-top: 100px;
}
.movie__list {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1176px) {
  .movie__list {
    grid-template-columns: repeat(2, 1fr);
  }  
}
@media screen and (max-width: 760px) {
  .movie__list {
    grid-template-columns: 1fr;
  }
}